@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Cinzel:wght@500&family=Comforter+Brush&family=Gruppo&family=IBM+Plex+Sans:wght@200&family=Inconsolata:wdth,wght@114.9,631&family=Open+Sans:wght@300&family=Oswald:wght@600&family=Sansita+Swashed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #060a1f;
}

#clock h2{
    /*position: relative;
    display: block;*/
    text-align: center;
    color: #fff;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 2em;
}

#time{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#time div{
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}
#time div span:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 80px;
    background: #2196f3;
    color: #fff;
    font-weight: 300;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    
}

#time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 700;
    z-index: 9;
    box-shadow: none;
    background: #127fd6;
    text-transform: uppercase;
}

#time div:last-child span{
    background: #ff006a;
}

#time div:last-child span:nth-child(2){
    background: #ec0062;
}